:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

p {
  font-size: 17px;
  line-height: 1.6;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  max-width: fit-content;
  position: relative;
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  color: #231f20;
  border-width: 1px;
  border-style: solid;
  border-color: #ffca32;
  background-color: #ffca32;
  border-radius: 4px;

  transition: all 0.2s ease-in-out;

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  padding: 12px 36px;
  margin-inline: auto;
}
button:hover {
  color: #252525;
  background-color: #fcd656;
  border-color: #fcd656;
}
ul {
  list-style: none;
}
input {
  font: inherit;
}
textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);

  margin: 0;
  margin-block-end: 20px;
}

main {
  padding-inline: 2rem;
}
footer {
  padding: 20px;
  text-align: center;
}

/* ////////////////// */

#root {
  max-width: 1440px;
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  text-align: center;
}

#root *:last-child {
  margin-top: auto;
}

.day {
  max-width: 460px;
  border: 1px solid tomato;

  padding: 10px;
  margin-inline: auto;
  margin-block-end: 10px;
}

.header {
  display: flex;
  gap: 5px;
  padding: 20px;
}

.header > * {
  flex: 1;
}
